extends ../layout/base.pug

block variables
  - var title = 'درباره | مطمئن باش'
  - var description = 'اطلاعات بیشتر درباره اپلیکیشن و افزونه مطمئن باش.'
  - var keywords = 'MotmaenBash, مطمئن باش, ضد فیشینگ, افزونه مرورگر, اپلیکیشن اندروید, کلاهبرداری اینترنتی, فیشینگ'
  - var url = 'https://motmaenbash.ir/about.html'

block content
  section.container.my-2
    h1.text-center.mb-4 درباره مطمئن باش

    .row
      div
        p.lead.text-center
          strong مطمئن باش
          |  یک پروژه متن‌باز، رایگان و مستقل است که با هدف افزایش آگاهی و امنیت کاربران ایرانی در برابر کلاهبرداری‌های اینترنتی و فیشینگ توسعه داده شده است.

        .card.border-0.shadow-sm.mt-4
          .card-body
            h2.card-title توسعه‌دهنده
            p.card-text
              |  این پروژه توسط
              a(href="https://milad.nu" target="_blank") 
                strong  میلاد نوری
              |  توسعه یافته است. امید است توسعه این پروژه در آینده با همکاری جامعه کاربران و توسعه‌دهندگان داوطلب، ادامه یابد. هدف ما ایجاد یک ابزار ساده، کاربردی و فراگیر برای کاربران ایرانی است.
            p.card-text
              |  شفافیت و امنیت اولویت ماست. به همین دلیل، تمام کدهای پروژه به‌صورت متن‌باز در گیت‌هاب منتشر شده است. 
            p.card-text
              |  شما هم می‌توانید در بهبود این پروژه نقش داشته باشید! اگر توسعه‌دهنده هستید، پیشنهادات و مشارکت‌های شما در گیت‌هاب ارزشمند خواهد بود.
            a.btn.btn-outline-primary.mt-2(href='https://github.com/miladnouri/motmaenbash' target='_blank') مشاهده در گیت‌هاب


        .card.border-0.shadow-sm.mt-4
          .card-body
            h2.card-title اهداف پروژه
            ul.list-unstyled
              li
                i.ion.ion-md-checkmark-circle.text-success.me-2
                |  افزایش آگاهی عمومی کاربران درباره کلاهبرداری‌های آنلاین، فیشینگ و روش‌های مقابله با آن‌ها
              li
                i.ion.ion-md-checkmark-circle.text-success.me-2
                |  ارائه ابزارهای ساده و کاربردی برای عموم کاربران
              li
                i.ion.ion-md-checkmark-circle.text-success.me-2
                |  کاهش ریسک کاربران در معرض حملات فیشینگ و کلاهبرداری‌های اینترنتی   
              li
                i.ion.ion-md-checkmark-circle.text-success.me-2
                |  توسعه و به‌روزرسانی مستمر برای مقابله با کلاهبرداری‌های جدید اینترنتی                                            

        .card.border-0.shadow-sm.mt-4
          .card-body
            h2.card-title قابلیت‌های مطمئن باش
            ul.list-unstyled
              li
                i.ion.ion-md-checkmark-circle.text-success.me-2
                |  افزونه مرورگر برای بررسی اصالت درگاه‌های پرداخت آنلاین
              li
                i.ion.ion-md-checkmark-circle.text-success.me-2
                |  اپلیکیشن اندروید برای بررسی پیامک‌ها، لینک‌ها و اپلیکیشن‌های مشکوک و جلوگیری از حملات فیشینگ
              li
                i.ion.ion-md-checkmark-circle.text-success.me-2
                |  به‌روزرسانی مداوم پایگاه داده برای تشخیص کلاهبرداری‌های جدید
              li
                i.ion.ion-md-checkmark-circle.text-success.me-2
                |  امکان گزارش موارد مشکوک توسط کاربران و بهبود مستمر سیستم

        .card.border-0.shadow-sm.mt-4
          .card-body
            h2.card-title تماس با ما
            p.card-text
              |  اگر سوال، پیشنهاد یا انتقادی دارید، می‌توانید از طریق ایمیل زیر با ما در ارتباط باشید:

              br
              strong hello [at] motmaenbash [dot] ir
            p.card-text
              |  همچنین می‌توانید توسعه‌دهنده را در شبکه‌های اجتماعی دنبال کنید:
              a(href='https://t.me/MiladNouriChannel' target='_blank')  تلگرام
              |  /
              a(href='https://twitter.com/MilaDnu' target='_blank')  توییتر
              |  /
              a(href='https://youtube.com/MilaDnu' target='_blank')  یوتیوب

  include ../layout/inc_section_donate