extends ../layout/base.pug

block variables
  - var title = 'ุชุบุฑุงุช ูุณุฎูโูุง | ูุทูุฆู ุจุงุด'
  - var description = 'ูุณุช ุชุบุฑุงุช ูุณุฎูโูุง ูุฎุชูู ุจุฑูุงูู ู ุงูุฒููู ูุทูุฆู ุจุงุด.'
  - var keywords = 'MotmaenBash, changelog, ุชุบุฑุงุช ูุณุฎู, ุถุฏ ูุดูฺฏ'
  - var url = 'https://motmaenbash.ir/changelog.html'

block content
  section.container.my-2
    h1.text-center.mb-3 ุชุบุฑุงุช ูุณุฎูโูุง

    .row.justify-content-center
      .col-12
          ul.nav.nav-tabs.d-flex.flex-wrap.gap-2.mb-3(role="tablist")
            li.nav-item
              a.btn.btn-blue.active(href="#android", data-bs-toggle="tab") ุจุฑูุงูู ุงูุฏุฑูุฏ
            li.nav-item
              a.btn.btn-blue(href="#chrome", data-bs-toggle="tab") ุงฺฉุณุชูุดู ฺฉุฑูู
            li.nav-item
              a.btn.btn-blue(href="#firefox", data-bs-toggle="tab") ุงฺฉุณุชูุดู ูุงุฑูุงฺฉุณ

    .tab-content
      // Android Tab
      .tab-pane.fade.show.active(id="android")
        .card.mb-3
          .card-body
            h5.fw-bold.mb-2 ูุณุฎู ฑ.ฐ.ฑ (ุขุฒูุงุด - ุจุชุง)
            ul
              li ุญุฐู ุฏุณุชุฑุณโูุง ุบุฑุถุฑูุฑ ุงุถุงูู ุดุฏู ุชูุณุท ฺฉุชุงุจุฎุงููโูุง ูุงุฑุจุณ
              li ุงุถุงูู ุดุฏู ุชุงุฑุฎฺู ุจูโุฑูุฒุฑุณุงูโูุง ุจุฑูุงูู
              li ุจูุจูุฏ ุนููฺฉุฑุฏ ุงุณฺฉุฑูู ุฏุฑ ุตูุญูโูุง ูุฎุชูู
              li ุงุตูุงุญ ููุงุด ูุชู ุฏุฑ ุฏุณุชฺฏุงูโูุง ุจุง ูููุช ุจุฒุฑฺฏ
              li ููฺฉ ุดุฏู ุดูุงุฑู ูุฑุณุชูุฏู ุฏุฑ ูพูุฌุฑู ูพุงูฺฉ ุฌุฏุฏ
              li ุญุฐู ููุงุฑ ูพุงู (ููุชุฑ) ุงุฒ ูพูุฌุฑู ููุงุด ูพุงูฺฉ ุฌุฏุฏ
              li ุงุถุงูู ุดุฏู ุชูุธูุงุช ููุงุด ูพูุฌุฑู ูพุงูฺฉ ุฌุฏุฏ
              li ุฑูุน ูุดฺฉู ุตุฏุง ูุดุฏุงุฑ ููฺฏุงู ุฏุฑุงูุช ูพุงูฺฉ ุฌุฏุฏ
              li ุจูุจูุฏ ุขฺฉูู ู ุนููุงู ูพูุฌุฑู ููุงุด ูพุงูฺฉ ุฌุฏุฏ
              li ุญุฐู ูุงุตููโูุง ฺูุฏุฎุท ุฏุฑ ูุชู ูพุงูฺฉ ููุงุด ุฏุงุฏู ุดุฏู
              li ุฑูุน ูุดฺฉู ุนุฏู ุจุณุชู ุดุฏู ูพูุฌุฑู ูพุงูฺฉ ุจุง ุฏฺฉูู ุจุงุฒฺฏุดุช (Back)
              li ุฑูุน ูุดฺฉู ููุงุด ุจุฑูุงูู ุฏุฑ ูุณุช ุงูพโูุง ุจุงุฒฺฉููุฏู ููฺฉโูุง
              li ุจูุจูุฏ ูุฑุขูุฏ ุจุฑุฑุณ ูพุงูฺฉ ุฏุฑุงูุช
              li ู ุฑูุน ุจุฑุฎ ุงุฑุงุฏูุง ุฌุฒุฆ ุฏฺฏุฑโฆ
        .card.mb-3
          .card-body
            h5.fw-bold.mb-2 ๐ ูุณุฎู ฑ.ฐ.ฐ (ุขุฒูุงุด - ุขููุง)
            ul
              li ุงูุชุดุงุฑ ุงููู ูุณุฎู ุขุฒูุงุด ุจุง ุงูฺฉุงูุงุช ุฒุฑ:
              li ุณูพุฑ ูพุงูฺฉุ ูุจโฺฏุฑุฏ ู ูุตุจ ุจุฑูุงูู
              li ูุงุจูุช ุจุฑุฑุณ ุงุตุงูุช ุฏุฑฺฏุงู ูพุฑุฏุงุฎุช
              li ุงุณฺฉู ุฏุณุช ุจุฑูุงููโูุง ูุตุจโุดุฏู
              li ุจุฑุฑุณ ุฏุณุช ููฺฉโูุง
              li ุจูโุฑูุฒุฑุณุงู ุฎูุฏฺฉุงุฑ ูพุงฺฏุงู ุฏุงุฏู
              li ูโฆ

      // Chrome Extension Tab
      .tab-pane.fade(id="chrome")
        .card.mb-3
          .card-body
            h5.fw-bold.mb-2 ูุณุฎู ฑ.ฑ.ฐ
            ul
              li ุงุณุชูุงุฏู ุงุฒ ูููุช ูุชุบุฑ (Variable font) ูุฒุฑูุชู
              li ุจูุจูุฏ ุฌุฒุฆ ุฏุฑ ุฑุงุจุท ฺฉุงุฑุจุฑ
              li ุงุฑุชูุง manifest_version ุงุฒ ูุณุฎู ฒ ุจู ูุณุฎู ณ


        .card.mb-3
          .card-body
            h5.fw-bold.mb-2 ๐ ูุณุฎู ฑ.ฐ.ณ (ุงููู ูุณุฎู)
            ul
              li ุงูุชุดุงุฑ ุงููู ูุณุฎู ุงุฒ ุงูุฒููู ฺฉุฑูู
              li ูุงุจูุช ุจุฑุฑุณ ุงุตุงูุช ุฏุฑฺฏุงูโูุง ูพุฑุฏุงุฎุช ุขููุงู

      // Firefox Extension Tab
      .tab-pane.fade(id="firefox")
        .card.mb-3
          .card-body
            h5.fw-bold.mb-2 ูุณุฎู ฑ.ฑ.ฐ
            ul
              li ุงุณุชูุงุฏู ุงุฒ ูููุช ูุชุบุฑ (Variable font) ูุฒุฑูุชู
              li ุจูุจูุฏ ุฌุฒุฆ ุฏุฑ ุฑุงุจุท ฺฉุงุฑุจุฑ

        .card.mb-3
          .card-body
            h5.fw-bold.mb-2 ๐ ูุณุฎู ฑ.ฐ.ฒ (ุงููู ูุณุฎู)
            ul
              li ุงูุชุดุงุฑ ุงููู ูุณุฎู ุงุฒ ุงูุฒููู ูุงุฑูุงฺฉุณ
              li ูุงุจูุช ุจุฑุฑุณ ุงุตุงูุช ุฏุฑฺฏุงูโูุง ูพุฑุฏุงุฎุช ุขููุงู
