@import url('ionicons.min.css');

@font-face {
    font-family: 'Vazir';
    src: url('fonts/Vazirmatn-RD[wght].ttf') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'Vazir', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.hero-image {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

}

header::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(49, 168, 123);
    z-index: -1;
    content: '';
    display: block;
    opacity: .85;
}

.hero-image img {
    width: 100%;
    height: auto;
}

header ul {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

header li {
    list-style: none;
    margin: 0 30px;
    font-weight: 400;
    transition: all 0.3s;
    position: relative;
    font-size: 18px;
}

header p {
    text-align: center;
}

header p i {
    font-size: 24px;
    margin: 15px 15px;
}

#hover-btn {
    width: 250px;
    height: 60px;
    line-height: 60px;
    background: #000;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 25px;
    left: 50px;
    display: none;
}

.download {
    display: grid;
    grid-template-columns: auto auto;
    background: rgb(25, 32, 28, .95);
}

.col-6 {
    display: grid;
    color: #FFF;
    padding: 100px 50px;
}

.title-bg {
    position: relative;
}

.title-bg::before {
    content: attr(title);
    display: block;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px #FFF;
    z-index: 1;
    opacity: .7;
    top: -3px;
    right: -7px;
    left: 0;
    bottom: 0;
    margin: auto;

}

.download .col-6 ul {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.download ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #fff;
    padding: 10px 50px;
    border-radius: 50px;
    transition: all .3s;
    position: relative;
    margin: 0 15px;
}

.download ul li::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    display: block;
    border: 1px solid #fff;
    border-radius: 50px;
}

.download ul li:hover {
    background: #FFF;
    color: #000;
}

.download ul li:hover::before {
    animation: beamScale .5s;
}

.download h3 {
    font-size: 48px;
    text-align: center;
}

#whatsphishing, #againstphishing, #report, #android-download  {
    background: rgba(255, 255, 255, 1);
    padding: 50px 25%;
}

#againstphishing {
    position: relative;
}


#againstphishing::before {
    position: relative;
    width: 100%;
    height: 1px;
    background: #cdcdcd;
    content: '';
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

section p
{
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
    text-align: justify;
}

section h2 {
    font-size: 48px;
    font-weight: bold;
}

section h2.title-bg::before {
    -webkit-text-stroke: 1px #000 !important;
    opacity: .5;
    right: -3px;
}

b {
    font-weight: 900;
}

header li:hover::after {
    width: 100%;
}

header li::after {
    width: 0;
    height: 2px;
    background: #FFF;
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    margin: auto;
    content: '';
    bottom: -15px;
    transition: all .5s;
}

header .copyright {
    font-weight: 400;
    position: absolute;
    bottom: 25px;
    left: 50px;
}

header .copyright a {
    font-weight: 900;
}

footer {
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: center;
    color: #FFF;
    background: #000;
    font-weight: 300;
}

footer i {
    color: red;
}

footer a {
    font-weight: 700;
}

h1 {
    font-size: 7em;
    position: relative;
}

h1::before {
    content: attr(title);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    z-index: 1;
    animation: beam 2.5s;
    animation-iteration-count: infinite;
}

h2 {
    font-weight: 400;
}

.btn-bg {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    border-radius: 50px;
    width: 350px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    transition: all .2s;
    margin: 0 auto;
    color: #FFF !important;
}



.btn-bg b {
    font-weight: 700;
}

.btn-bg:hover {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.btn-download {
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

@keyframes beam {
    0% {
        transform: scale(1);
        opacity: .5;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes beamScale {
    0% {
        transform: scaleX(1) scaleY(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(1.3) scaleY(1.5);
        opacity: 0;
    }
}

@media screen and (max-width:768px) {
    .hero-image img {
        height: 100vh;
        width: auto;
    }

    header li {
        margin: 0;
        padding: 0 15px;
        border-left: 1px solid #efefef;
    }

    header li:last-child {
        border-left: none;
    }

    header h1 {
        text-align: center;
        font-size: 64px;
    }

    header h2 {
        font-size: 18px;
    }

    header .btn-bg {
        margin-bottom: 50px;
    }

    #whatsphishing,
    #againstphishing {
        padding-right: 15%;
        padding-left: 15%;
    }

    #download {
        display: block;
        grid-template-columns: none;
        width: 100%;
    }

    .download .col-6 {
        display: block;
        width: 100%;
    }

    .download .col-6 ul {
        display: block;
    }

    .download .col-6 ul li {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        margin-right: 0;
    }

    #hover-btn {
        width: 100%;
        left: 0;
        z-index: 99;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }
}