block variables

doctype html
html(lang="fa" dir="rtl")
  head
    block meta
      include inc_head
    block styles
  body
    include inc_header

    //- main
    block content

    include inc_footer
    include inc_scripts