footer.bg-dark.text-white.py-3
  .container
    .row.g-4.fs-6
      .col-md-3
        h5.mb-1 دسترسی سریع
        ul.list-unstyled
          li: a(href="#android-app") اپلیکیشن اندروید
          li: a(href="#download") افزونه مرورگر
          li: a(href="https://milad.nu/page/donate" target="_blank") حمایت مالی
          li: a(href="https://forms.gle/odNaY6jeks2eqZDZA" target="_blank") ارسال گزارش

      .col-md-4
        h5.mb-1 اطلاعات بیشتر
        ul.list-unstyled
          li: a(href="faqs.html") سوال‌های پرتکرار
          li: a(href="faqs.html#trust") اعتماد به مطمئن باش؟!
          li: a(href="about.html") درباره مطمئن باش
          li: a(href="https://t.me/miladnourichannel" target="_blank") پیگیری اخبار

      .col-md-4.fs-6
        h5.mb-1 مطمئن باش به صورت متن باز در گیت‌هاب منتشر شده است:
        ul.list-unstyled
          li: a(href="https://github.com/miladnouri/motmaenbash-android" target="_blank") اندروید
          li: a(href="https://github.com/miladnouri/motmaenbash-chrome" target="_blank") کروم
          li: a(href="https://github.com/miladnouri/motmaenbash-firefox" target="_blank") فایرفاکس
          li: a(href="https://github.com/miladnouri/motmaenbash-website" target="_blank") وب‌سایت


        //- a.btn.btn-outline-light.btn-sm(href="https://github.com/" target="_blank")
        //-     i.fab.fa-github
        //-     |  مشاهده در گیت‌هاب

    hr.my-3
    p.text-center.mb-0.fs-6.footer-copyright
      | توسعه داده شده با 
      i.ion.ion-md-heart.text-danger
      |  توسط 
      a(href="https://milad.nu" target="_blank") میلاد نوری 
      | برای مردم ایران