section#donate.container.my-2
  .donate.text-center
    h2.title-bg(title="حمایت مالی") حمایت مالی
    p با حمایت مالی (دونیت)، می‌توانید به توسعه و بهبود مستمر این پروژه کمک کنید.
    a.btn.btn-warning(href="donate.html" target="_blank") حمایت مالی
