footer.bg-dark.text-white.py-3
  .container
    .row.g-4.fs-6
      .col-md-3
        h5.mb-1 دسترسی سریع
        ul.list-unstyled
          li: a(href="index.html#android-app") اپلیکیشن اندروید
          li: a(href="index.html#download") افزونه مرورگر
          li: a(href="donate.html" target="_blank") حمایت مالی
          li: a(href="https://forms.gle/odNaY6jeks2eqZDZA" target="_blank") ارسال گزارش
          li: a(href="https://t.me/miladnourichannel" target="_blank") پیگیری اخبار

      .col-md-4
        h5.mb-1 اطلاعات بیشتر
        ul.list-unstyled
          li: a(href="faqs.html") سوال‌های پرتکرار
          li: a(href="faqs.html#trust") اعتماد به مطمئن باش؟!
          li: a(href="privacy.html") سیاست حریم خصوصی
          li: a(href="about.html") درباره مطمئن باش
          li: a(href="changelog.html") تاریخچه به‌روزرسانی‌ها (Changelog)

      .col-md-4.fs-6


        p.text-center.mb-3.lh-lg.fs-6
         | ​پروژه مطمئن باش به صورت متن باز​ (Open Source) ​توسعه داده شده است و مخزن کد بخش‌های مختلف این پروژه (نسخه اندروید، اکستنشن کروم و فایرفاکس و وب‌سایت مطمئن باش)، از طریق لینک زیر در دسترس است: 

        a.btn.btn-outline-light.btn-sm(href="git.html")
            i.fab.fa-github.me-1
            |  مخزن‌های مرتبط با پروژه

    hr.my-3
    p.text-center.mb-0.fs-6.footer-copyright
      | توسعه داده شده توسط 
      a(href="https://milad.nu" target="_blank") میلاد نوری 
      i.fas.fa-heart.fa-beat.text-danger.mx-1
      | برای مردم ایران